<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://spray.eclipselabs.org/examples/Conceptmap"
            class="ConceptMapDSL.ConceptMapDSLPackage"
            genModel="model/conceptmap.genmodel"/>
   </extension>

</plugin>
