<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--  
############################################################################### 
# Copyright (c) 2013 The Spray Project.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Spray Dev Team - initial API and implementation
###############################################################################
# Log configuration for Xtext logging.
# This log configuration will be used for the UI parts of Xtext.
#
# For your convenience: valid log levels are (from least to most significant):
# TRACE, DEBUG, INFO, WARN, ERROR and FATAL
# Log4J manual: http://logging.apache.org/log4j/1.2/manual.html
# Xtext log configuration info: http://wiki.eclipse.org/Xtext_Project_Plan/Features/Logging
-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- This appender will write to the stdout console -->
	<appender class="org.apache.log4j.ConsoleAppender" name="default">
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%-4r [%t] %-5p %c %x - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<!-- This appender will write to the Eclipse error log. It will ONLY log ERROR and FATAL messages. -->
	<appender class="org.eclipse.xtext.logging.EclipseLogAppender"
		name="eclipse">
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%c %x - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<!-- Configure your log categories below: -->
	<logger name="org.eclipse">
		<level value="warn" />
	</logger>
	<logger name="org.eclipse.xtext">
		<level value="warn" />
	</logger>
	<logger name="org.eclipse.xtext.ui.editor.contentassist.antlr.internal">
		<level value="warn" />
	</logger>
	<logger name="org.eclipse.xtext.ui.editor.outline">
		<level value="warn" />
	</logger>
	<!-- Java Post Processor -->
	<logger name="org.eclipselabs.spray.xtext.generator.JavaPostProcessor">
		<level value="warn" />
	</logger>
	<!-- Root logger configuration. Don't change this. -->
	<root>
		<level value="debug" />
		<appender-ref ref="default" />
	</root>
</log4j:configuration>