<?xml version="1.0" encoding="UTF-8"?>
        <?eclipse version="3.0"?>
        <!--
         Generated on Sat May 12 08:22:47 CEST 2012 by Spray Plugin.xtend
         This file will be generated oinly once if it need to be regenerated, remove this file.
         
        -->
        <plugin>
           <!-- Potentially redefine the EDITOR EXTENSION TO ALLOW FOR OUR OWN EDITOR SUBCLASS TO BE USED. 
           <extension
                 point="org.eclipse.ui.editors">
              <editor
                  class="org.eclipselabs.spray.examples.petrinet.internal.ExecutableExtensionFactory:org.eclipselabs.spray.examples.petrinet.diagram.PetrinetDiagramEditor"
                  contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
                  default="true"
                  extensions="diagram"
                  icon="icons/diagram.gif"
                  id="org.eclipselabs.spray.examples.petrinet.diagram.PetrinetDiagramEditor"
                  matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorFactory$DiagramEditorMatchingStrategy"
                  name="%_diagram_editor_name">
               <contentTypeBinding
                     contentTypeId="org.eclipse.graphiti.content.diagram">
               </contentTypeBinding>
              </editor>
           </extension>
           -->
        
          <extension
              point="org.eclipse.graphiti.ui.diagramTypes">
            <diagramType
              description="This is the diagram type for the petrinet diagram type"
              id="org.eclipselabs.spray.examples.petrinet.diagram.PetrinetDiagramType"
              name="petrinet Graphiti Diagram Type"
              type="petrinet">
            </diagramType>
          </extension>
        
          <extension
              point="org.eclipse.graphiti.ui.diagramTypeProviders">
            <diagramTypeProvider
              class="org.eclipselabs.spray.examples.petrinet.internal.ExecutableExtensionFactory:org.eclipselabs.spray.examples.petrinet.diagram.PetrinetDiagramTypeProvider"
              description="This is my editor for the petrinet diagram type"
              id="org.eclipselabs.spray.examples.petrinet.diagram.PetrinetDiagramTypeProvider"
              name="petrinet editor">
              <diagramType
                    id="org.eclipselabs.spray.examples.petrinet.diagram.PetrinetDiagramType">
              </diagramType>
                <imageProvider
                       id="org.eclipselabs.spray.examples.petrinet.diagram.PetrinetImageProvider">
                 </imageProvider>
            </diagramTypeProvider>
          </extension>
        
           <extension
                 point="org.eclipse.graphiti.ui.imageProviders">
              <imageProvider
                    class="org.eclipselabs.spray.examples.petrinet.internal.ExecutableExtensionFactory:org.eclipselabs.spray.examples.petrinet.diagram.PetrinetImageProvider"
                       id="org.eclipselabs.spray.examples.petrinet.diagram.PetrinetImageProvider">
              </imageProvider>
           </extension>
        
          <extension
              point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
              <propertyContributor contributorId="petrinet.PropertyContributor">
                  <propertyCategory category="petrinetCategory">
                  </propertyCategory>
              </propertyContributor>
          </extension>
        
          <extension
              point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
              <propertyTabs contributorId="petrinet.PropertyContributor">
                  <propertyTab label="Main" category="petrinetCategory"
                      id="petrinet.main.tab">
                  </propertyTab>
              </propertyTabs>
          </extension>
        <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
            <propertySections contributorId="petrinet.PropertyContributor">
          <propertySection tab="petrinet.main.tab"
           class="org.eclipselabs.spray.examples.petrinet.internal.ExecutableExtensionFactory:org.eclipselabs.spray.examples.petrinet.property.PlaceNameSection"
           filter="org.eclipselabs.spray.examples.petrinet.property.PlaceFilter"
           id="petrinet.main.tab.Place.name">
          </propertySection>
          <propertySection tab="petrinet.main.tab"
           class="org.eclipselabs.spray.examples.petrinet.internal.ExecutableExtensionFactory:org.eclipselabs.spray.examples.petrinet.property.PlaceDescriptionSection"
           filter="org.eclipselabs.spray.examples.petrinet.property.PlaceFilter"
           afterSection="petrinet.main.tab.Place.name"
           id="petrinet.main.tab.Place.description">
          </propertySection>
            </propertySections>
        </extension>
        
        <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
            <propertySections contributorId="petrinet.PropertyContributor">
          <propertySection tab="petrinet.main.tab"
           class="org.eclipselabs.spray.examples.petrinet.internal.ExecutableExtensionFactory:org.eclipselabs.spray.examples.petrinet.property.TransitionNameSection"
           filter="org.eclipselabs.spray.examples.petrinet.property.TransitionFilter"
           id="petrinet.main.tab.Transition.name">
          </propertySection>
          <propertySection tab="petrinet.main.tab"
           class="org.eclipselabs.spray.examples.petrinet.internal.ExecutableExtensionFactory:org.eclipselabs.spray.examples.petrinet.property.TransitionDescriptionSection"
           filter="org.eclipselabs.spray.examples.petrinet.property.TransitionFilter"
           afterSection="petrinet.main.tab.Transition.name"
           id="petrinet.main.tab.Transition.description">
          </propertySection>
            </propertySections>
        </extension>
        
        <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
            <propertySections contributorId="petrinet.PropertyContributor">
          <propertySection tab="petrinet.main.tab"
           class="org.eclipselabs.spray.examples.petrinet.internal.ExecutableExtensionFactory:org.eclipselabs.spray.examples.petrinet.property.TransitionNameSection"
           filter="org.eclipselabs.spray.examples.petrinet.property.TransitionFilter"
           id="petrinet.main.tab.Transition.name">
          </propertySection>
          <propertySection tab="petrinet.main.tab"
           class="org.eclipselabs.spray.examples.petrinet.internal.ExecutableExtensionFactory:org.eclipselabs.spray.examples.petrinet.property.TransitionDescriptionSection"
           filter="org.eclipselabs.spray.examples.petrinet.property.TransitionFilter"
           afterSection="petrinet.main.tab.Transition.name"
           id="petrinet.main.tab.Transition.description">
          </propertySection>
            </propertySections>
        </extension>
        
        <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
            <propertySections contributorId="petrinet.PropertyContributor">
          <propertySection tab="petrinet.main.tab"
           class="org.eclipselabs.spray.examples.petrinet.internal.ExecutableExtensionFactory:org.eclipselabs.spray.examples.petrinet.property.TokenNameSection"
           filter="org.eclipselabs.spray.examples.petrinet.property.TokenFilter"
           id="petrinet.main.tab.Token.name">
          </propertySection>
          <propertySection tab="petrinet.main.tab"
           class="org.eclipselabs.spray.examples.petrinet.internal.ExecutableExtensionFactory:org.eclipselabs.spray.examples.petrinet.property.TokenDescriptionSection"
           filter="org.eclipselabs.spray.examples.petrinet.property.TokenFilter"
           afterSection="petrinet.main.tab.Token.name"
           id="petrinet.main.tab.Token.description">
          </propertySection>
            </propertySections>
        </extension>
        
        <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
            <propertySections contributorId="petrinet.PropertyContributor">
          <propertySection tab="petrinet.main.tab"
           class="org.eclipselabs.spray.examples.petrinet.internal.ExecutableExtensionFactory:org.eclipselabs.spray.examples.petrinet.property.ArcNameSection"
           filter="org.eclipselabs.spray.examples.petrinet.property.ArcFilter"
           id="petrinet.main.tab.Arc.name">
          </propertySection>
          <propertySection tab="petrinet.main.tab"
           class="org.eclipselabs.spray.examples.petrinet.internal.ExecutableExtensionFactory:org.eclipselabs.spray.examples.petrinet.property.ArcDescriptionSection"
           filter="org.eclipselabs.spray.examples.petrinet.property.ArcFilter"
           afterSection="petrinet.main.tab.Arc.name"
           id="petrinet.main.tab.Arc.description">
          </propertySection>
            </propertySections>
        </extension>
        
    
    
        // Find all clases that are shown as lists in the compartments
            <extension
                  point="org.eclipse.ui.newWizards">
                  <category
                     name="petrinet"
                     id="org.eclipselabs.spray.petrinet">
                     </category>
               <wizard
                     category="org.eclipselabs.spray.petrinet"
                     class="org.eclipselabs.spray.examples.petrinet.internal.ExecutableExtensionFactory:org.eclipselabs.spray.runtime.graphiti.wizard.NewDiagramWizard"
                     descriptionImage="icons/petrinet-32.png"
                     icon="icons/petrinet-16.png"
                     id="org.eclipselabs.spray.petrinet.NewDiagramWizard"
                     name="New petrinet Diagram"
                     preferredPerspectives="org.eclipse.graphiti.examples.common.perspective.GFPerspective"
                     project="false">
               </wizard>
            </extension>
        </plugin>
