<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         name="Spray"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="icons/Spray-Logo-Icon-16.png"
            thread="main"
            visible="true">
         <run
               class="org.eclipselabs.spray.Application">
         </run>
      </application>
   </extension>

</plugin>
