<!-- ***************************************************************************
 *  Copyright (c)  The Spray Project.
 *  All rights reserved. This program and the accompanying materials
 *  are made available under the terms of the Eclipse Public License v1.0
 *  which accompanies this distribution, and is available at
 *  http://www.eclipse.org/legal/epl-v10.html
 *  
 *  Contributors:
 *      Spray Dev Team - initial API and implementation
**************************************************************************** -->
<settings>
	<activeProfiles>
		<activeProfile>external-repositories</activeProfile>
	</activeProfiles>
	<servers>
		<server>
			<id>spray.cloudbees</id>
			<username>kthoms</username>
			<password>{MyQr1OPIoKQHd5dVwBfZfrVWgJ+tM5Zmmsu6Ljy+vw0=}</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>external-repositories</id>
			<repositories>
				<!-- Distrobuilder -->
				<repository>
					<id>cloudbees.kthoms.snapshot</id>
					<url>https://repository-kthoms.forge.cloudbees.com/snapshot/</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>fornax.release</id>
					<url>http://fornax.itemis.de/nexus/content/repositories/releases/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>
