<?xml version="1.0" encoding="UTF-8"?>
        <?eclipse version="3.0"?>
        <!--
         Generated on Sun Jan 13 15:49:51 CET 2013 by Spray Plugin.xtend
         This file will be generated oinly once if it need to be regenerated, remove this file.
         
        -->
        <plugin>
           <!-- Potentially redefine the EDITOR EXTENSION TO ALLOW FOR OUR OWN EDITOR SUBCLASS TO BE USED. 
           <extension
                 point="org.eclipse.ui.editors">
              <editor
                  class="org.eclipselabs.spray.contain.diagram.internal.ExecutableExtensionFactory:org.eclipselabs.spray.contain.diagram.diagram.ContainDiagramDiagramEditor"
                  contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
                  default="true"
                  extensions="diagram"
                  icon="icons/diagram.gif"
                  id="org.eclipselabs.spray.contain.diagram.diagram.ContainDiagramDiagramEditor"
                  matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorFactory$DiagramEditorMatchingStrategy"
                  name="%_diagram_editor_name">
               <contentTypeBinding
                     contentTypeId="org.eclipse.graphiti.content.diagram">
               </contentTypeBinding>
              </editor>
           </extension>
           -->
        
          <extension
              point="org.eclipse.graphiti.ui.diagramTypes">
            <diagramType
              description="This is the diagram type for the containDiagram diagram type"
              id="org.eclipselabs.spray.contain.diagram.diagram.ContainDiagramDiagramType"
              name="containDiagram Graphiti Diagram Type"
              type="containDiagram">
            </diagramType>
          </extension>
        
          <extension
              point="org.eclipse.graphiti.ui.diagramTypeProviders">
            <diagramTypeProvider
              class="org.eclipselabs.spray.contain.diagram.internal.ExecutableExtensionFactory:org.eclipselabs.spray.contain.diagram.diagram.ContainDiagramDiagramTypeProvider"
              description="This is my editor for the containDiagram diagram type"
              id="org.eclipselabs.spray.contain.diagram.diagram.ContainDiagramDiagramTypeProvider"
              name="containDiagram editor">
              <diagramType
                    id="org.eclipselabs.spray.contain.diagram.diagram.ContainDiagramDiagramType">
              </diagramType>
                <imageProvider
                       id="org.eclipselabs.spray.contain.diagram.diagram.ContainDiagramImageProvider">
                 </imageProvider>
            </diagramTypeProvider>
          </extension>
        
           <extension
                 point="org.eclipse.graphiti.ui.imageProviders">
              <imageProvider
                    class="org.eclipselabs.spray.contain.diagram.internal.ExecutableExtensionFactory:org.eclipselabs.spray.contain.diagram.diagram.ContainDiagramImageProvider"
                       id="org.eclipselabs.spray.contain.diagram.diagram.ContainDiagramImageProvider">
              </imageProvider>
           </extension>
        
          <extension
              point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
              <propertyContributor contributorId="containDiagram.PropertyContributor">
                  <propertyCategory category="containDiagramCategory">
                  </propertyCategory>
              </propertyContributor>
          </extension>
        
          <extension
              point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
              <propertyTabs contributorId="containDiagram.PropertyContributor">
                  <propertyTab label="Main" category="containDiagramCategory"
                      id="containDiagram.main.tab">
                  </propertyTab>
              </propertyTabs>
          </extension>
        <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
            <propertySections contributorId="containDiagram.PropertyContributor">
          <propertySection tab="containDiagram.main.tab"
           class="org.eclipselabs.spray.contain.diagram.internal.ExecutableExtensionFactory:org.eclipselabs.spray.contain.diagram.property.E2NameSection"
           filter="org.eclipselabs.spray.contain.diagram.property.E2Filter"
           id="containDiagram.main.tab.E2.name">
          </propertySection>
            </propertySections>
        </extension>
        
        <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
            <propertySections contributorId="containDiagram.PropertyContributor">
          <propertySection tab="containDiagram.main.tab"
           class="org.eclipselabs.spray.contain.diagram.internal.ExecutableExtensionFactory:org.eclipselabs.spray.contain.diagram.property.E3NameSection"
           filter="org.eclipselabs.spray.contain.diagram.property.E3Filter"
           id="containDiagram.main.tab.E3.name">
          </propertySection>
            </propertySections>
        </extension>
        
    
    
            <extension
                  point="org.eclipse.ui.newWizards">
                  <category
                     name="containDiagram"
                     id="org.eclipselabs.spray.containDiagram">
                     </category>
               <wizard
                     category="org.eclipselabs.spray.containDiagram"
                     class="org.eclipselabs.spray.contain.diagram.internal.ExecutableExtensionFactory:org.eclipselabs.spray.runtime.graphiti.wizard.NewDiagramWizard"
                     descriptionImage="icons/containDiagram-32.png"
                     icon="icons/containDiagram-16.png"
                     id="org.eclipselabs.spray.containDiagram.NewDiagramWizard"
                     name="New containDiagram Diagram"
                     preferredPerspectives="org.eclipse.graphiti.examples.common.perspective.GFPerspective"
                     project="false">
               </wizard>
            </extension>
        </plugin>
