<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.eclipselabs.spray.shapes.generator.ui.internal.ExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
	<extension
	    point="org.eclipse.ui.keywords">
	    <keyword
	        id="org.eclipselabs.spray.styles.ui.keyword_Style"
	        label="Style"/>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
		    	category="org.eclipselabs.spray.styles.Style"
		    	class="org.eclipselabs.spray.shapes.generator.ui.internal.ExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
		    	id="org.eclipselabs.spray.shapes.Shape.compiler.preferencePage"
		    	name="Compiler">
			<keywordReference id="org.eclipselabs.spray.shapes.ui.keyword_Shape"/>
		</page>
	</extension>
</plugin>
