<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipselabs.org/spray/shapes/Shape"
            class="org.eclipselabs.spray.shapes.ShapesPackage"
            genModel="model/Shape.genmodel"/>
   </extension>

</plugin>
