/* Default style */

/* headlines and subheadlines */ 
.title {color:#282E84; font-family:arial;}

/* chapters described with textile files */
.textile {color:#282E84; font-family:arial;}

/* data from the specification files, 
  such as use case descriptions, screen flow descriptions, entity data types,
  and requirement details*/
.modeldata {color:#222222; font-family:arial, sans-serif; font-style:normal;}
/* reserved for future use */
.modeldata_headline {color:#444444; font-family:arial, sans-serif; font-style:normal;}

/* keywords, 
   examples in use cases: "Entities", "-> If", "End of flow with postcondition:" 
   example user interface descriptions: "Button", "Label" */
.keywords {color:#666666; font-family:arial, sans-serif;}

/* references to linkable elements, such as references to use cases */
.crossref {font-family:monospace; text-decoration:underline;}

/* element identifiers, for example names of entities or use cases */
.identifier {color:#3c4b98; font-family:Monospace;}

/* labels in headlines of tables, or inside of tables like "Comment" for requirements */
.labels {color:#282E84; font-family:arial, sans-serif; font-size: 10pt; font-weight:bold;  word-wrap: break-word;}

/* page numbers at the bottom of pages */
.pagenumbers {color:#282E84;}


/* cells that are a header for a table when they are in a row, like for the requirements table */
.table-header-cell-in-row {
	background:#EAEAF7;
	border-bottom:3px solid #282E84;
	TEXT-ALIGN: left;
	vertical-align: middle;
}

/* cells that are a header column for a table, like in the use case table */
.table-header-cell-in-column {
	background:#EAEAF7;
}

/* subheader in a table, like the steps of a use case */
.table-subheader-cell {
	background:#EAEAF7;
}
