<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.xtext.ui.shared.overridingGuiceModule">
      <module
            class="org.eclipselabs.spray.runtime.xtext.ui.SharedModule">
      </module>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.xtext.viewCategory"
            class="org.eclipselabs.spray.runtime.xtext.ui.xtextindex.IEObjectDescriptionViewer"
            id="org.eclipselabs.spray.runtime.xtext.ui.xtextindex.IEObjectDescriptionViewer"
            name="Xtext Index">
      </view>
   </extension>

</plugin>
