<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipselabs.org/spray/styles/Style"
            class="org.eclipselabs.spray.styles.StylesPackage"
            genModel="model/Style.xcore"/>
   </extension>

</plugin>
